<footer class="site-footer h-card">
<!--   <data class="u-url" href="{{ "/" | relative_url }}"></data> -->
  <div class="wrapper">
    <span style="background:#000; color: #FFF; text-transform: uppercase;">Imprint</span>&nbsp<br/>
    Dennis P Paul<br/>
    Auf der Kuhlen 11<br/>
    28203 Bremen<br/>
    hello[at]dennisppaul.de<br/>
    <a rel="author" href="https://mastodon.social/@dennisppaul">@mastodon</a><br/>
    <a rel="author" href="https://github.com/dennisppaul">@github</a><br/>
<!-- 
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
		{%- if site.email -%}
		<a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
		{%- endif -%}
      </div>
 -->

<!-- 
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
 -->
<!--     </div> -->
  </div>
</footer>
